      <hr>
      <p>&copy;<%= prefs.settings.copyrightyear %> <%= prefs.settings.name %></p>

      </div>
    </div>
    <script src="/javascripts/require.js" data-main="/javascripts/main.js"></script>

  </body>
</html>