<% include head %>

<form method="POST" action="/login">
	<h1>Login</h1>
	<label for="username">Username</label>
	<input type="text" name="username" value="" />
	<label for="password">Password</label>
	<input type="password" name="password" value="" />
	<label for="submit"></label>
 	<input type="submit" value="Login" name="submit" />
</form>

<% include foot %>