<% include head %>

<form method="POST" action="/login" class="form-signin">
  <h2 class="form-signin-heading">Please log in</h2>
  <label for="username">Username</label>
  <input type="text" name="username" value="" class="input-block-level" placeholder="Username" />
  <label for="password">Password</label>
  <input type="password" name="password" value="" class="input-block-level" placeholder="Password" />
  <label for="submit"></label>
  <input type="submit" value="Login" name="submit" class="btn btn-large btn-primary" />
</form>

<% include foot %>